body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-class-2 { 
  padding: 0px 15px 1px;
  height: 40px;
  border-radius: var(--w3m-button-border-radius);
  border-color: #3396FF;
  color: #ffff;
  background-color: #3396FF;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-class-2:hover { 
  opacity: 0.9;
}

.btn-txt { 
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
}

.something-went-wrong { 
  display:  flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}